doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.contextmenu.css')
    script(src='/javascripts/leaflet.js')
    script(src='/javascripts/leaflet.contextmenu.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/controller.js')
  body
    block content

